.heading{
    color: red;
    background-color: black;
}
.userdata{
    color: white;
    /* background-color: black; */
}
.user{
    background-color: red;
}
.innercomp{
    background-color: bisque;
}
.dashboard{
    background-color: brown;
    padding: 20px 30px;
 
}
.table{
    border: 1px solid black;
}
.products{
    background-color: antiquewhite;
}
.product{
    background-color: rgb(165, 198, 227);

}