.heading{
    color: red;
    background-color: black;
}
.userdata{
    color: white;
    /* background-color: black; */
}
.user{
    background-color: red;
}
.innercomp{
    background-color: bisque;
}
